* {
  --textColor: #333;
  --textColor2: #555;
  --bodyBgColor: #fff;
  --linkColor: rgb(33, 117, 191);
}

a,
a:visited {
  color: var(--linkColor);
  text-decoration: none;
}

a.anchor {
  position: relative;
  top: -70px;
  visibility: hidden;
}

h1 {
  margin: 18px 0;
  text-align: center;
  font-size: 28px;
  color: var(--linkColor)
}

h2,
h3 {
  margin-top: 25px;
  font-size: 20px;
  color: var(--textColor2);
}


a:hover {
  text-decoration: underline;
}

h3 a,
h3 a:visited {
  color: var(--textColor2);
}


body,
main {
  min-width: 500px;
  margin: 0;
  background-color: var(--bodyBgColor);
  color: var(--textColor);
  font-size: 14.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 0 auto;
  display: grid;
  padding: 10px;
}

header {
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: var(--bodyBgColor);
}

header h1 {
  margin: 0 10px;
  text-align: left;
}

article {
  margin: 0 5px 5px 5px;
  padding-bottom: 40px;
}

/* nav */
nav {
  margin-top: 20px;
  padding-left: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  list-style: none;
  font-size: 1.1em;
  padding: 0 10px;
  line-height: 2.5em;
}

nav ul ul li {
  margin-left: 15px;
  font-size: 1em;
  line-height: 2.2em;
}

nav a,
nav a:visited {
  display: block;
  text-decoration: none;
  color: var(--textColor);
}

nav a:hover {
  color: var(--linkColor);
}


/* QR codes */
article img.qr {
  width: 140px;
  margin: 30px auto;
}



/* Main page member list */
.memberList {
  max-width: 620px;
  margin: auto;
  display: grid;
  row-gap: 20px;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}

.memberList img.avatar {
  border-radius: 50%;
  box-shadow: #bbb 1px 1px 15px;
}

.memberList.alumni img.avatar {
  filter: sepia(50%);
}

.memberList a,
.memberList a:hover {
  color: var(--textColor);
}

.memberList a>div {
  height: 30px;
  font-size: 13.5px;
}





/* About pages */
.avatarAndBio {
  display: grid;
  grid-template-columns: auto auto;
}

.avatarAndBio .bio {
  padding: 10px 10px 10px 30px;
  text-align: justify;
}

.avatarAndBio img.avatar {
  border-radius: 50%;
  box-shadow: #bbb 1px 1px 15px;
}

.furtherInfo {
  padding: 10px;
  display: grid;
  gap: 15px;
}

@media (min-width: 1020px) {
  .furtherInfo {
    grid-template-columns: 1fr 1fr;
  }
}

.furtherInfo h2 {
  margin-bottom: 10px;
}

.furtherInfo ul li {
  margin-left: -15px;
}

/* Year headings */
.yearHeading {
  text-align: center;
  border-bottom: 2px solid #eee;
}


/* Publications on other pages */
.paper {
  margin-bottom: 0;
  display: grid;
  border-radius: 10px;
  padding: 10px;
  grid-template-columns: 132px auto;
}

.paper h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

.paper img.publicationImage {
  grid-area: span 1 / span 2;
  margin: 4px 0 15px 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: #ccc 0 0 12px;
}

.paper img.publicationImage {
  grid-area: span 1 / span 1;
  width: 128px;
}

.paper .metaData {
  padding-left: 15px;
  font-size: 0.95em;
  color: var(--textColor2);
}

.paper .metaData.noImage {
  grid-area: span 1 / span 2;
  margin-left: 132px;
}

.paper .metaData div {
  margin-bottom: 8px;
}

.paper .metaData .links a {
  padding-right: 8px;
}

.paper .metaData div.authors a {
  color: inherit;
}

.paper .metaData div.authors b {
  font-weight: 600;
}

/* Publication page */
.pubPageContent {
  text-align: center;
}

.pubPageContent div {
  margin-top: 10px;
}

.pubPageContent img {
  width: 50%;
  max-height: 400px;
  margin: auto;
  /* margin-bottom: 20px; */
  border-radius: 3px;
}

.pubPageContent .abstract {
  text-align: justify;
}

.pubPageContent textarea {
  width: 90%;
  min-height: 120px;
  max-height: 300px;
  border: 10px solid #f8f8f8;
  border-radius: 10px;
  background: #fcfcfc;
}

.pubPageContent a {
  padding: 0 3px;
}







/*
 * Responsiveness
 */
@media (min-width: 0px) {

  /* phone layout */
  main {
    grid-template-columns: auto;
    max-width: 960px;
    margin-top: 65px;
  }

  header {
    padding-top: 0;
    width: 100%;
  }

  header .logo {
    width: 40px;
  }

  header>div,
  nav ul li {
    display: inline-block;
  }

  .memberNav {
    display: none;
  }

  article {
    grid-template-columns: auto;
  }

  .memberList img.avatar {
    width: 64px;
    height: 64px;
  }

  img.avatar {
    width: 128px;
    height: 128px;
  }
}

@media (min-width: 720px) {

  /* tablet layout */
  main {
    grid-template-columns: 250px auto;
    margin-top: 0;
  }

  header {
    padding-top: 20px;
    width: 220px;
  }

  header .logo {
    width: 200px;
  }

  header>div,
  nav ul li {
    display: block;
  }

  article {
    grid-template-columns: 1fr 1fr;
  }

  a.anchor {
    top: -5px;
  }

  .memberList img.avatar {
    width: 96px;
    height: 96px;
  }

  img.avatar {
    width: 192px;
    height: 192px;
  }
}

@media (min-width: 1020px) {

  /* desktop layout */
  main {
    grid-template-columns: 250px auto;
    margin-top: 0;
  }

  header {
    padding-top: 20px;
    width: 220px;
  }

  header>div,
  nav ul li {
    display: block;
  }

  .memberNav {
    display: block;
  }

  article {
    grid-template-columns: 1fr 1fr;
  }

  a.anchor {
    top: -5px;
  }

  /* Main page about infos */
  .aboutusFurtherInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 2px;
  }

  img.avatar {
    width: 256px;
    height: 256px;
  }

  /* Member list with pictures */
  .memberList {
    max-width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
}
